ALTER TABLE operacional.veiculo ADD COLUMN centro_comando_id UUID; ALTER TABLE operacional.veiculo ADD CONSTRAINT fk_veiculo_centro FOREIGN KEY (centro_comando_id) REFERENCES operacional.centros_comando (id);
